{% load static %}

<!DOCTYPE html>
<html lang="zxx">
 <head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <title>
   Pustok - Book Store HTML Template
  </title>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <!-- Use Minified Plugins Version For Fast Page Load -->
  <link href="{% static 'css/plugins.css' %}" media="screen" rel="stylesheet" type="text/css"/>
  <link href="{% static 'css/main.css' %}" media="screen" rel="stylesheet" type="text/css"/>
  <link href="{% static 'image/favicon.ico' %}" rel="shortcut icon" type="image/x-icon"/>
 </head>
 <body>
  <div class="site-wrapper" id="top">
   <div class="site-header header-2 mb--20 d-none d-lg-block">
    <div class="header-middle pt--10 pb--10">
     <div class="container">
      <div class="row align-items-center">
       <div class="col-lg-3">
         <a class="site-brand" href="index.html">
           {% for detail in details %}
          <img alt="" src="{{detail.image.url}}"/>
           {% endfor %}
         </a>
       </div>
       <div class="col-lg-5">

       </div>

      </div>
     </div>
    </div>
    <div class="header-bottom bg-primary">
     <div class="container">
      <div class="row align-items-center">
       <div class="col-lg-3">
        <nav class="category-nav white-nav">
         <div>
          <a class="category-trigger" href="javascript:void(0)">
           <i class="fa fa-bars">
           </i>
           Browse
                                        categories
          </a>
          <ul class="category-menu">
            {% for cat in categ %}
           <li class="cat-item">
            <a href="#">
             {{cat.name}}
            </a>
           </li>
           {% endfor %}
          </ul>
         </div>
        </nav>
       </div>
       <div class="col-lg-3">
        <div class="header-phone color-white">
         <div class="icon">
          <i class="fas fa-headphones-alt">
          </i>
         </div>
         <div class="text">
          <p>
           Free Support 24/7
          </p>
          <p class="font-weight-bold number">
           +01-202-555-0181
          </p>
         </div>
        </div>
       </div>
       <div class="col-lg-6">
        <div class="main-navigation flex-lg-right">
         <ul class="main-menu menu-right main-menu--white li-last-0">
          <li class="menu-item has-children">
           <a href="javascript:void(0)">
            Books
            <i class="fas fa-chevron-down dropdown-arrow">
            </i>
           </a>
           <ul class="sub-menu">
            <li>
             <a href="book_list">
              List of Books
             </a>
            </li>
            <li>
             <a href="book_allotment">
              Books Allotment
             </a>
            </li>
            <li>
             <a href="book_series">
              Book Series
             </a>
            </li>
            <li>
             <a href="book_genre">
              Genres
             </a>
            </li>
            <li>
             <a href="book_lang">
               Book Languages
             </a>
            </li>
           </ul>
          </li>
          <!-- Shop -->
          <li class="menu-item has-children mega-menu">
           <a href="javascript:void(0)">
            Users
            <i class="fas fa-chevron-down dropdown-arrow">
            </i>
           </a>
           <ul class="sub-menu four-column">
            <li class="cus-col-25">
             <h3 class="menu-title">
              <a href="javascript:void(0)">
               All Users
              </a>
             </h3>
             <ul class="mega-single-block">
              <li>
               <a href="members">
                Members
               </a>
              </li>
              <li>
               <a href="publisher">
                Publishers
               </a>
              </li>
              <li>
               <a href="author">
                Author
               </a>
              </li>
             </ul>
            </li>
            <li class="cus-col-25">
             <h3 class="menu-title">
              <a href="javascript:void(0)">
               Roles
              </a>
             </h3>
             <ul class="mega-single-block">
              <li>
               <a href="roles">
                Liberian
               </a>
              </li>
             </ul>
            </li>
            <li class="cus-col-25">
             <h3 class="menu-title">
              <a href="javascript:void(0)">
            Membership Plans
              </a>
             </h3>
             <ul class="mega-single-block">
              <li>
               <a href="product-details.html">
                Gold Plan
               </a>
              </li>
              <li>
               <a href="product-details-affiliate.html">
                Silver Plan
               </a>
              </li>
             </ul>
            </li>

           </ul>
          </li>
          <li class="menu-item">
           <a href="settings">
            Settings
           </a>
          </li>
          <li class="menu-item">
           <a href="contact">
            Contact
           </a>
          </li>
         </ul>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
    <div class="header-bottom pb--10">
     <div class="container">
      <div class="row align-items-center">
       <div class="col-lg-5">
        <div class="header-search-block">
         <input placeholder="Search for Books" type="text"/>
         <button>
          Search
         </button>
        </div>
       </div>

      </div>
     </div>
    </div>
   </div>
   <div class="site-mobile-menu">
    <header class="mobile-header d-block d-lg-none pt--10 pb-md--10">
     <div class="container">
      <div class="row align-items-sm-end align-items-center">
       <div class="col-md-4 col-7">
        <a class="site-brand" href="index.html">
         <img alt="" src="{% static 'image/{{detail.image.url}}' %}"/>
        </a>
       </div>
       <div class="col-md-5 order-3 order-md-2">
        <nav class="category-nav">
         <div>
          <a class="category-trigger" href="javascript:void(0)">
           <i class="fa fa-bars">
           </i>
           Browse
										categories
          </a>
          <ul class="category-menu">
            {% for list in lists %}
           <li class="cat-item">
            <a class="js-expand-hidden-menu" href="#">
            {{list.name}}
            </a>
           </li>
           {% endfor %}
          </ul>
         </div>
        </nav>
       </div>
       <div class="col-md-3 col-5 order-md-3 text-right">
        <div class="mobile-header-btns header-top-widget">
         <ul class="header-links">
          <li class="sin-link">
          </li>
          <li class="sin-link">
           <a class="link-icon hamburgur-icon off-canvas-btn" href="javascript:">
            <i class="ion-navicon">
            </i>
           </a>
          </li>
         </ul>
        </div>
       </div>
      </div>
     </div>
    </header>
    <!--Off Canvas Navigation Start-->
    <aside class="off-canvas-wrapper">
     <div class="btn-close-off-canvas">
      <i class="ion-android-close">
      </i>
     </div>
     <div class="off-canvas-inner">
      <!-- search box start -->
      <!-- search box end -->
      <!-- mobile menu start -->
      <div class="mobile-navigation">
       <!-- mobile menu navigation start -->
       <nav class="off-canvas-nav">
        <ul class="mobile-menu main-mobile-menu">
         <li class="menu-item-has-children">
          <a href="#">
           Books
          </a>
          <ul class="sub-menu">
           <li>
            <a href="book_list">
             List Of Books
            </a>
           </li>
           <li>
            <a href="book_allotment">
             Books Allotment
            </a>
           </li>
           <li>
            <a href="book_series">
             Book Series
            </a>
           </li>
           <li>
            <a href="book_genre">
             Genres
            </a>
           </li>
           <li>
            <a href="book_lang">
              Book Languages
            </a>
           </li>
          </ul>
         </li>
         <li class="menu-item-has-children">
          <a href="#">
           Users
          </a>
          <ul class="sub-menu">
           <li class="menu-item-has-children">
            <a href="#">
             All Users
            </a>
            <ul class="sub-menu">
             <li>
              <a href="members">
               Members
              </a>
             </li>
             <li>
              <a href="publisher">
               Publishers
              </a>
             </li>
             <li>
              <a href="author">
               Authors
              </a>
             </li>
            </ul>
           </li>
           <li class="menu-item-has-children">
            <a href="#">
             Roles
            </a>
            <ul class="sub-menu">
             <li>
              <a href="roles">
               Liberian
              </a>
             </li>
            </ul>
           </li>
          </ul>
         </li>
         <li>
          <a href="contact.html">
           Membership Plans
          </a>
         </li>
         <li>
          <a href="contact">
           Contact
          </a>
         </li>
         <li>
          <a href="settings">
           Settings
          </a>
         </li>
        </ul>
       </nav>
       <!-- mobile menu navigation end -->
      </div>
      <!-- mobile menu end -->
      <nav class="off-canvas-nav">
       <ul class="mobile-menu menu-block-2">
        <li class="menu-item-has-children">

        </li>
        <li class="menu-item-has-children">

        </li>
        <li class="menu-item-has-children">

         <ul class="sub-menu">
          <li>

          </li>
          <li>

          </li>
          <li>

          </li>
          <li>

          </li>
         </ul>
        </li>
       </ul>
      </nav>
      <div class="off-canvas-bottom">
       <div class="contact-list mb--10">


       </div>
       <div class="off-canvas-social">

       </div>
      </div>
     </div>
    </aside>
    <!--Off Canvas Navigation End-->
   </div>
   <div class="sticky-init fixed-header common-sticky">
    <div class="container d-none d-lg-block">
     <div class="row align-items-center">
      <div class="col-lg-4">
       <a class="site-brand" href="index.html">
        <img alt="" src="{% static 'image/{{detail.image.url}}' %}"/>
       </a>
      </div>
      <div class="col-lg-8">

      </div>
     </div>
    </div>
   </div>
   <section class="breadcrumb-section">
    <h2 class="sr-only">
     Site Breadcrumb
    </h2>
    <div class="container">
     <div class="breadcrumb-contents">
      <nav aria-label="breadcrumb">
       <ol class="breadcrumb">
        <li class="breadcrumb-item">
         <a href="index.html">
          Home
         </a>
        </li>
        <li class="breadcrumb-item active">
         Books
        </li>
       </ol>
      </nav>
     </div>
    </div>
   </section>
   <main class="inner-page-sec-padding-bottom">
    <div class="container">

     <div class="shop-product-wrap list with-pagination row space-db--30 shop-border">
       <!--starts here -->
       {% for book in page_obj %}
      <div class="col-lg-4 col-sm-6">
       <div class="product-card card-style-list">
        <div class="product-grid-content">
         <div class="product-header">
          <a class="author" href="">
           {{book.title}}
          </a>
          <h3>
           <a href="product-details.html">
            {{book.title}}
           </a>
          </h3>
         </div>
         <div class="product-card--body">
          <div class="card-image">
           <img alt="" src="{% static 'image/products/product-2.jpg' %}"/>
           <div class="hover-contents">
            <a class="hover-image" href="product-details.html">
             <img alt="" src="{% static 'image/products/product-1.jpg' %}"/>
            </a>
            <div class="hover-btns">
             <a class="single-btn" href="cart.html">
              <i class="fas fa-shopping-basket">
              </i>
             </a>
             <a class="single-btn" href="wishlist.html">
              <i class="fas fa-heart">
              </i>
             </a>
             <a class="single-btn" href="compare.html">
              <i class="fas fa-random">
              </i>
             </a>
             <a class="single-btn" data-target="#quickModal" data-toggle="modal" href="#">
              <i class="fas fa-eye">
              </i>
             </a>
            </div>
           </div>
          </div>
         </div>
        </div>
        <div class="product-list-content">
         <div class="card-image">
          <img alt="" src="{{book.pic.url}}"/>
         </div>
         <div class="product-card--body">
          <div class="product-header">
           <a class="author">
            Author:<h3>{{book.author}}</h3>
           </a>
           <h3>
            <a tabindex="0">
             Title:{{book.title}}
            </a>
           </h3>
          </div>
          <article>
           <h2 class="sr-only">
            Card List Article
           </h2>
           <p>
            Summary:{{book.summary}}
           </p>
           <p>
            Genre:{{book.genre}}
           </p>
           <p>
            isbn:{{book.isbn}}
           </p>
           <p>
            <b>Position:{{book.position}}</b>
           </p>
          </article>
          <div class="price-block">
          </div>
          <div class="row">
            {% for i in reviews %}
          <div class="rating-block">
           <span class="fas fa-star star_on">
           </span>
         </div>
          {% endfor %}
        </div>
          <div class="btn-block">
           <a class="btn btn-outlined" href="book_allotment">
            Issue
           </a>
          </div>
         </div>
        </div>
       </div>

      </div>
      {% endfor %}
      <!---ends here for product-->

     </div>
     <!-- Pagination Block -->
     <div class="row pt--30">
      <div class="col-md-12">
        <div class="pagination">
     <span class="step-links">
         {% if page_obj.has_previous %}
             <a href="?page=1">&laquo; first</a>
             <a href="?page={{ page_obj.previous_page_number }}">previous</a>
         {% endif %}

         <span class="current">
             Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
         </span>

         {% if page_obj.has_next %}
             <a href="?page={{ page_obj.next_page_number }}">next</a>
             <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
         {% endif %}
     </span>
 </div>
      </div>
     </div>
     <!-- Modal -->
     <div aria-hidden="true" aria-labelledby="quickModal" class="modal fade modal-quick-view" id="quickModal" role="dialog" tabindex="-1">
      <div class="modal-dialog" role="document">
       <div class="modal-content">
        <button aria-label="Close" class="close modal-close-btn ml-auto" data-dismiss="modal" type="button">
         <span aria-hidden="true">
          ×
         </span>
        </button>
        <div class="product-details-modal">
         <div class="row">
          <div class="col-lg-5">
           <!-- Product Details Slider Big Image-->
           <div class="product-details-slider sb-slick-slider arrow-type-two" data-slick-setting='{
              "slidesToShow": 1,
              "arrows": false,
              "fade": true,
              "draggable": false,
              "swipe": false,
              "asNavFor": ".product-slider-nav"
              }'>
            <div class="single-slide">
             <img alt="" src="{% static 'image/products/product-details-1.jpg' %}"/>
            </div>
            <div class="single-slide">
             <img alt="" src="{% static 'image/products/product-details-2.jpg' %}"/>
            </div>
            <div class="single-slide">
             <img alt="" src="{% static 'image/products/product-details-3.jpg' %}"/>
            </div>
            <div class="single-slide">
             <img alt="" src="{% static 'image/products/product-details-4.jpg' %}"/>
            </div>
            <div class="single-slide">
             <img alt="" src="{% static 'image/products/product-details-5.jpg' %}"/>
            </div>
           </div>
           <!-- Product Details Slider Nav -->
           <div class="mt--30 product-slider-nav sb-slick-slider arrow-type-two" data-slick-setting='{
            "infinite":true,
              "autoplay": true,
              "autoplaySpeed": 8000,
              "slidesToShow": 4,
              "arrows": true,
              "prevArrow":{"buttonClass": "slick-prev","iconClass":"fa fa-chevron-left"},
              "nextArrow":{"buttonClass": "slick-next","iconClass":"fa fa-chevron-right"},
              "asNavFor": ".product-details-slider",
              "focusOnSelect": true
              }'>
            <div class="single-slide">
             <img alt="" src="{% static 'image/products/product-details-1.jpg' %}"/>
            </div>
            <div class="single-slide">
             <img alt="" src="{% static 'image/products/product-details-2.jpg' %}"/>
            </div>
            <div class="single-slide">
             <img alt="" src="{% static 'image/products/product-details-3.jpg' %}"/>
            </div>
            <div class="single-slide">
             <img alt="" src="{% static 'image/products/product-details-4.jpg' %}"/>
            </div>
            <div class="single-slide">
             <img alt="" src="{% static 'image/products/product-details-5.jpg' %}"/>
            </div>
           </div>
          </div>
          <div class="col-lg-7 mt--30 mt-lg--30">
           <div class="product-details-info pl-lg--30">
            <p class="tag-block">
             Tags:
             <a href="#">
              Movado
             </a>
             ,
             <a href="#">
              Omega
             </a>
            </p>
            <h3 class="product-title">
             Beats EP Wired On-Ear Headphone-Black
            </h3>
            <ul class="list-unstyled">
             <li>
              Ex Tax:
              <span class="list-value">
               Â£60.24
              </span>
             </li>
             <li>
              Brands:
              <a class="list-value font-weight-bold" href="#">
               Canon
              </a>
             </li>
             <li>
              Product Code:
              <span class="list-value">
               model1
              </span>
             </li>
             <li>
              Reward Points:
              <span class="list-value">
               200
              </span>
             </li>
             <li>
              Availability:
              <span class="list-value">
               In Stock
              </span>
             </li>
            </ul>
            <div class="price-block">
             <span class="price-new">
              Â£73.79
             </span>
             <del class="price-old">
              Â£91.86
             </del>
            </div>
            <div class="rating-widget">
             <div class="rating-block">
              <span class="fas fa-star star_on">
              </span>
              <span class="fas fa-star star_on">
              </span>
              <span class="fas fa-star star_on">
              </span>
              <span class="fas fa-star star_on">
              </span>
              <span class="fas fa-star">
              </span>
             </div>
             <div class="review-widget">
              <a href="">
               (1 Reviews)
              </a>
              <span>
               |
              </span>
              <a href="">
               Write a review
              </a>
             </div>
            </div>
            <article class="product-details-article">
             <h4 class="sr-only">
              Product Summery
             </h4>
             <p>
              Long printed dress with thin adjustable straps. V-neckline and wiring
													under the Dust with ruffles at the bottom
													of the
													dress.
             </p>
            </article>
            <div class="add-to-cart-row">
             <div class="count-input-block">
              <span class="widget-label">
               Qty
              </span>
              <input class="form-control text-center" type="number" value="1"/>
             </div>
             <div class="add-cart-btn">
              <a class="btn btn-outlined--primary" href="">
               <span class="plus-icon">
                +
               </span>
               Add to Cart
              </a>
             </div>
            </div>
            <div class="compare-wishlist-row">
             <a class="add-link" href="">
              <i class="fas fa-heart">
              </i>
              Add to Wish
													List
             </a>
             <a class="add-link" href="">
              <i class="fas fa-random">
              </i>
              Add to
													Compare
             </a>
            </div>
           </div>
          </div>
         </div>
        </div>

        <div class="modal-footer">
         <div class="widget-social-share">
          <span class="widget-label">
           Share:
          </span>
          <div class="modal-social-share">
           <a class="single-icon" href="#">
            <i class="fab fa-facebook-f">
            </i>
           </a>
           <a class="single-icon" href="#">
            <i class="fab fa-twitter">
            </i>
           </a>
           <a class="single-icon" href="#">
            <i class="fab fa-youtube">
            </i>
           </a>
           <a class="single-icon" href="#">
            <i class="fab fa-google-plus-g">
            </i>
           </a>
          </div>
         </div>
        </div>
       </div>
      </div>

     </div>
    </div>
   </main>
  </div>
  <!--=================================
  Brands Slider
===================================== -->
  <section class="section-margin">
   <h2 class="sr-only">
    Brand Slider
   </h2>
   <div class="container">
    <div class="brand-slider sb-slick-slider border-top border-bottom" data-slick-responsive='[
                {"breakpoint":992, "settings": {"slidesToShow": 4} },
                {"breakpoint":768, "settings": {"slidesToShow": 3} },
                {"breakpoint":575, "settings": {"slidesToShow": 3} },
                {"breakpoint":480, "settings": {"slidesToShow": 2} },
                {"breakpoint":320, "settings": {"slidesToShow": 1} }
            ]' data-slick-setting='{
                                            "autoplay": true,
                                            "autoplaySpeed": 8000,
                                            "slidesToShow": 6
                                            }'>
     <div class="single-slide">
      <img alt="" src="{% static 'image/others/brand-1.jpg' %}"/>
     </div>
     <div class="single-slide">
      <img alt="" src="{% static 'image/others/brand-2.jpg' %}"/>
     </div>
     <div class="single-slide">
      <img alt="" src="{% static 'image/others/brand-3.jpg' %}"/>
     </div>
     <div class="single-slide">
      <img alt="" src="{% static 'image/others/brand-4.jpg' %}"/>
     </div>
     <div class="single-slide">
      <img alt="" src="{% static 'image/others/brand-5.jpg' %}"/>
     </div>
     <div class="single-slide">
      <img alt="" src="{% static 'image/others/brand-6.jpg' %}"/>
     </div>
     <div class="single-slide">
      <img alt="" src="{% static 'image/others/brand-1.jpg' %}"/>
     </div>
     <div class="single-slide">
      <img alt="" src="{% static 'image/others/brand-2.jpg' %}"/>
     </div>
    </div>
   </div>
  </section>
  <!--=================================
    Footer Area
===================================== -->
<center>
<div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb--30 mb-lg--0">
 <!-- Login Form s-->
 <form action="{% url 'APP:book-list' %}" enctype="multipart/form-data" method="POST" >
   {% csrf_token %}
  <div class="login-form">
   <h4 class="login-title">
    New Book
   </h4>
   <p>
    <span class="font-weight-bold">
     Add  A New Book
    </span>
   </p>
   <div class="row">
    <div class="col-md-12 col-12 mb--15">
     <label for="email">
      Cover Image
     </label>
     <input id="image" name="image" placeholder="Enter your full name" type="file"/>
    </div>
    <div class="col-12 mb--20">
     <label for="email">
      ISBN Number
     </label>
     <input class="mb-0 form-control" id="isbn" name="isbn" placeholder="Enter ISBN Number" type="number"/>
    </div>
    <div class="col-12 mb--20">
     <label for="email">
      Title
     </label>
     <input class="mb-0 form-control" id="title" name="title" placeholder="Enter A Book Title Here.." type="text"/>
    </div>
    <div class="col-12 mb--20">
     <label for="email">
      Summary
     </label>
     <input class="mb-0 form-control" id="summary" name="summary" placeholder="Enter A Summary of The Book Here.." type="text"/>
    </div>
    <div class="col-lg-6 mb--20">
     <label for="email">
      Author
     </label>
     <input class="mb-0 form-control" id="author" name="author"  type="text"/>
    </div>
    <div class="col-lg-6 mb--20">
     <label for="email">
      Genre
     </label>
     <input class="mb-0 form-control" id="genre" name="genre"  type="text"/>
    </div>
    <div class="col-lg-6 mb--20">
     <label for="email">
      Total Copies
     </label>
     <input class="mb-0 form-control" id="total_copies" name="total_copies"  type="text"/>
    </div>
    <div class="col-lg-6 mb--20">
     <label for="email">
      Available Copies
     </label>
     <input class="mb-0 form-control" id="available_copies" name="avail_copies"  type="text"/>
    </div>
    <div class="col-lg-6 mb--20">
     <label for="email">
      Position
     </label>
     <input class="mb-0 form-control" id="position" name="position" type="text"/>
    </div>
    <div class="col-md-12">
       <button class="btn btn-outlined" type="submit">
           Submit
       </button>
   </div>
   </div>
  </div>
 </form>
</div>
</center>
  <footer class="site-footer">
   <div class="container">
    <div class="row justify-content-between section-padding">
     <div class="col-xl-3 col-lg-4 col-sm-6">
     </div>
    </div>
   </div>
   <div class="footer-bottom">
    <div class="container">
     <p class="copyright-heading">
      Suspendisse in auctor augue. Cras fermentum est ac fermentum tempor. Etiam
					vel magna volutpat, posuere eros
     </p>
     <a class="payment-block" href="#">
      <img alt="" src="{% static 'image/icon/payment.png' %}"/>
     </a>
     <p class="copyright-text">
      Copyright Â© 2019
      <a class="author" href="#">
       Pustok
      </a>
      . All Right Reserved.
      <br/>
      Design By Pustok
     </p>
    </div>
   </div>
  </footer>
  <!-- Use Minified Plugins Version For Fast Page Load -->
  <script src="{% static 'js/plugins.js' %}">
  </script>
  <script src="{% static 'js/ajax-mail.js' %}">
  </script>
  <script src="{% static 'js/custom.js' %}">
  </script>
 </body>
</html>
